[submodule "OHPickupAdmin"]
	path = OHPickupAdmin
	url = https://github.com/OrgansWithoutBodies/OHPickupAdmin
[submodule "OHSite"]
	path = OHSite
	url = https://github.com/OrgansWithoutBodies/OHSite
[submodule "OHSigns"]
	path = OHSigns
	url = https://github.com/OrgansWithoutBodies/OHSigns
